In [1]:
import requests
from datetime import datetime
from pathlib import Path
import pandas as pd

# load last file saved
saved_day_df = pd.read_csv("data/all_players_day.csv")

# Get last file online
url = 'https://cdn.nba.com/static/json/staticData/EliasGameStats/00/all_players_day.txt'
response = requests.get(url)

# Convert text to list of lines, skipping the first 5 header lines
lines = response.text.splitlines()[5:]

# header
header_line = lines[0] #
Col_names = header_line.split()

## For name longer than 20 char I have to add this lines of code to calculate the widths of each column (pd.read_fwf limit to 20 chars)
# Find the starting position of each column name
start_positions = {}
current_position = 0
for col_name in Col_names:
    start_positions[col_name] = header_line.find(col_name, current_position)
    current_position = start_positions[col_name] + len(col_name)

list_start = list(start_positions.values())

widths_list = []
for i in range(len(list_start)-1):
    widths_list.append((list_start[i+1])-(list_start[i]))

widths_list.append(3)

# data
data = response.text.splitlines()[6:]
# Read the data using pandas with fixed-width format
df_day = pd.read_fwf(pd.io.common.StringIO("\n".join(data)), names = Col_names, widths = widths_list) # specify the size of the col


# Compare
if df_day.equals(saved_day_df):
    print("âœ… Data up to date!")

else:
    print("Data need update")

Data need update

In [2]:
saved_day_df = pd.read_csv("data/all_players_day.csv")

In [4]:
df_day

,DATE,TM,OPP,NAME,(POS),G,MIN,FG,FGA,FG3,...,OFF,DEF,TRB,AST,PF,DQ,STL,TO,BLK,PTS
0,10/13/2025,ATL,MIA,"Newell, Asa",(F ),1,36,7,18,0,...,3,5,8,2,3,0,2,0,2,19
1,10/13/2025,ATL,MIA,"Toppin, Jacob",(F ),1,42,9,23,2,...,0,9,9,5,4,0,1,2,2,26
2,10/13/2025,ATL,MIA,"Dante, N'Faly",(C ),1,21,2,4,0,...,2,5,7,0,4,0,3,2,1,4
3,10/13/2025,ATL,MIA,"Krejci, Vit",(G ),1,20,2,8,1,...,1,1,2,2,3,0,0,1,1,7
4,10/13/2025,ATL,MIA,"Wallace, Keaton",(G ),1,13,2,7,0,...,0,1,1,4,1,0,0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,10/13/2025,WAS,NY,"Riley, Will",(SUB),1,26,7,11,1,...,1,1,2,2,1,0,0,1,0,17
133,10/13/2025,WAS,NY,"Vukcevic, Tristan",(SUB),1,17,6,9,3,...,2,2,4,3,1,0,1,2,0,15
134,10/13/2025,WAS,NY,"Watkins, Jamir",(SUB),1,17,2,5,1,...,1,5,6,0,0,0,0,1,1,9
135,10/13/2025,WAS,NY,"Whitmore, Cam",(SUB),1,10,3,4,1,...,0,2,2,2,3,0,0,1,0,7
136,10/13/2025,WAS,NY,"Williams, Alondes",(SUB),1,11,0,3,0,...,0,0,0,1,1,0,0,1,0,0