In [69]:
# update_nba_data.py
import pandas as pd
from datetime import date
from datetime import datetime

from nba_api.stats.static import players
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.endpoints import commonplayerinfo

from get_player_image import get_player_image
from get_mp4_urls import get_mp4_urls

from get_best_players_day import get_best_players_day
from get_players_info import get_players_info

In [48]:
pd.set_option('display.max_rows', None)

In [87]:
pbp = pd.read_csv('data/picked_players_video_event_df_2025-10-10.csv')

In [92]:
pbp.columns

Index(['GAME_ID', 'EVENTNUM', 'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'PERIOD',
       'WCTIMESTRING', 'PCTIMESTRING', 'HOMEDESCRIPTION', 'NEUTRALDESCRIPTION',
       'VISITORDESCRIPTION', 'SCORE', 'SCOREMARGIN', 'PERSON1TYPE',
       'PLAYER1_ID', 'PLAYER1_NAME', 'PLAYER1_TEAM_ID', 'PLAYER1_TEAM_CITY',
       'PLAYER1_TEAM_NICKNAME', 'PLAYER1_TEAM_ABBREVIATION', 'PERSON2TYPE',
       'PLAYER2_ID', 'PLAYER2_NAME', 'PLAYER2_TEAM_ID', 'PLAYER2_TEAM_CITY',
       'PLAYER2_TEAM_NICKNAME', 'PLAYER2_TEAM_ABBREVIATION', 'PERSON3TYPE',
       'PLAYER3_ID', 'PLAYER3_NAME', 'PLAYER3_TEAM_ID', 'PLAYER3_TEAM_CITY',
       'PLAYER3_TEAM_NICKNAME', 'PLAYER3_TEAM_ABBREVIATION',
       'VIDEO_AVAILABLE_FLAG', 'video', 'desc', 'player_name'],
      dtype='object')

In [96]:
input_file_1 = f"data/best_players_day.csv"
df_not_best_performers = pd.read_csv(input_file_1).iloc[5:].reset_index(drop=True)

In [97]:
df_not_best_performers

,DATE,TM,OPP,NAME,(POS),G,MIN,FG,FGA,FG3,...,TRB,AST,PF,DQ,STL,TO,BLK,PTS,MyScore,Formatted_name
0,10/11/2025,ATL,MEM,"Risacher, Zaccharie",(F ),1,25,6,8,2,...,1,2,2,0,1,0,0,16,19,zaccharie risacher
1,10/11/2025,DAL,CHA,"Davis, Anthony",(F ),1,24,6,12,0,...,4,1,3,0,0,1,0,12,17,anthony davis
2,10/11/2025,OKC,IND,"Dieng, Ousmane",(C ),1,29,3,12,2,...,6,3,4,0,2,2,0,10,19,ousmane dieng

In [99]:
my_champs_superstars = [
    "Jokic, Nikola",
    "Gilgeous-Alexander, Shai",
    "Doncic, Luka",
    "James, LeBron",
    "Curry, Stephen",
    "Durant, Kevin",
    "Antetokounmpo, Giannis",
    "Edwards, Anthony",
    "Embiid, Joel",
    "Tatum, Jayson",
    "Davis, Anthony",
    "Booker, Devin",
    "Morant, Ja",
    "Butler, Jimmy",
    "Lillard, Damian",
    "Wembanyama, Victor",
    "Mitchell, Donovan",
    "George, Paul",
    "Towns, Karl-Anthony",
    "Irving, Kyrie",
]

In [118]:
my_champs_superstars_converted = [" ".join(name.split(", ")[::-1]).lower() for name in my_champs_superstars]
my_champs_superstars_converted

['nikola jokic',
 'shai gilgeous-alexander',
 'luka doncic',
 'lebron james',
 'stephen curry',
 'kevin durant',
 'giannis antetokounmpo',
 'anthony edwards',
 'joel embiid',
 'jayson tatum',
 'anthony davis',
 'devin booker',
 'ja morant',
 'jimmy butler',
 'damian lillard',
 'victor wembanyama',
 'donovan mitchell',
 'paul george',
 'karl-anthony towns',
 'kyrie irving']

In [102]:
superstars_day = df_not_best_performers[df_not_best_performers['NAME'].isin(my_champs_superstars)]
print(superstars_day)

         DATE   TM  OPP            NAME  (POS)  G  MIN  FG  FGA  FG3  ...  \
1  10/11/2025  DAL  CHA  Davis, Anthony  (F  )  1   24   6   12    0  ...

   TRB  AST  PF  DQ  STL  TO  BLK  PTS  MyScore  Formatted_name
1    4    1   3   0    0   1    0   12       17   anthony davis

[1 rows x 25 columns]

In [119]:
# Get today local files ---
input_file_2 = f"data/picked_players.csv"

picked_players = pd.read_csv(input_file_2).iloc[5:].reset_index(drop=True)

picked_superstars = picked_players[picked_players['player_name'].isin(my_champs_superstars_converted)]

input_file_3 = f"data/picked_players_info.csv"
picked_players_info = pd.read_csv(input_file_3).iloc[5:].reset_index(drop=True)

superstars_info = picked_players_info[picked_players_info['Name'].isin(my_champs_superstars_converted)]

input_file_4 = f"data/picked_players_video_event_df.csv"
picked_players_video_event_df = pd.read_csv(input_file_4)
picked_players_video_event_df = picked_players_video_event_df.dropna(subset=['video']).reset_index(drop=True)
supertars_video_event_df = picked_players_video_event_df[picked_players_video_event_df['player_name'].isin(my_champs_superstars_converted)]

In [120]:
picked_superstars

,player_name,player_id,img,game_id,location
1,anthony davis,203076,https://cdn.nba.com/headshots/nba/latest/1040x...,12500047,home